<template>
  <div class="modal">
    <div class="modal-content">
      <div class="model-head">
        <div class="v-center">
          <img src="@/assets/images/modal-image.png" class="img-fluid" alt />
          <h3 class="ml-3">Disney+</h3>
        </div>
        <div class="actions">
          <span class="font-weight-bold mr-2">00 : 00 : 00</span>
          <button class="btn btn-theme-red mr-2">Reject</button>
          <button class="btn btn-theme">Accept</button>
        </div>
        <div class="close-model" @click="closeModel">close</div>
      </div>
      <div class="main-box">
        <div class="main-box-item">
          <p class="mb-2">Campaign Overview & Content</p>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros, adipiscing commodo penatibus sit volutpat, aliquet mauris in. Ut a elementum libero vulputate at tincidunt eget bibendum. Viverra tincidunt purus</span>
        </div>
        <div class="another-box">
          <div class="another-box-item" v-for="n in 5" :key="n">
            <p class="bold">$7/1000</p>
            <span>CMPV</span>
          </div>
        </div>
      </div>
      <div class="model-description">
        <h3 class="mb-2">Campaign Content</h3>
        <div class="grid-3">
          <div class="grid-item">
            <img src="@/assets/images/compaign-content.png" alt class="img-fluid" />
          </div>
          <div class="grid-item">
            <p>Caption Keywords</p>
            <div class="border">
              <span class="tag" v-for="n in 5" :key="n">Lorem, ipsum</span>
            </div>
            <p>Hashtags</p>
            <div class="border text-light">#socialproof #FInaldesign #workinprogress</div>
            <p>Username</p>
            <div class="border text-light d-flex justify-content-between">
              <span>@Social Proof</span>
              <span class="text-blue copy">copy</span>
            </div>
            <p>Website Link</p>
            <div class="border text-light d-flex justify-content-between">
              <span>Www.socialproof.com</span>
              <span class="text-blue copy">copy</span>
            </div>
          </div>
          <div class="grid-item">
            <p>Additional Instructions</p>
            <div
              class="border text-light"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis minima velit unde asperiores doloribus dolorum assumenda consequatur ipsam quos ducimus tenetur rerum dolores distinctio corrupti officiis modi, itaque inventore! Tempora.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    closeModel() {
      this.$emit("close");
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  overflow-y: auto;

  .close-model {
    cursor: pointer;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
  }

  .modal-content {
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

    .model-head {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn {
        padding: 0.2rem 1.1rem;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .main-box {
      display: grid;
      grid-template-columns: 1fr 1.5fr;

      &-item {
        padding: 1rem;
        font-size: 1.1rem;
        border: 1px solid #cbcbcb;

        border-left: none;

        p {
          font-weight: 500;
        }
        span {
          color: #838383;
        }
      }

      .another-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
        justify-content: center;
        align-items: center;
        text-align: center;

        &-item {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(4) {
            border-right: 1px solid #cbcbcb;
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            border-bottom: 1px solid #cbcbcb;
          }

          padding: 1rem 0;
          p.bold {
            font-weight: 600;
            font-size: 24px;
          }
          span {
            font-size: 14px;
            line-height: 21px;
            color: #8b8b8b;
          }
        }
      }
    }
    // description dection
    .model-description {
      padding: 1rem;
    }

    .tag {
      display: inline-block;
      background: #efefef;
      border-radius: 45px;
      font-size: 12px;
      line-height: 18px;
      padding: 0.4rem 0.8rem;
      margin: 0 10px 5px 0;
    }

    .copy {
      cursor: pointer;
    }

    .grid-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;

      .grid-item {
        & > p {
          &:not(:first-child) {
            margin-top: 0.6rem;
          }
          margin-bottom: 0.6rem;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }

        .border {
          border: 1px solid #dcdcdc;
          padding: 0.6rem;
        }
      }
    }
  }
}
</style>