<template>
  <div>
    <Breadcrumb />

    <!-- compaign tabs -->
    <Tabs
      :tabs="['Browse Campaigns', 'Active Campaigns', 'Completed Campaigns']"
      :active="activeTab"
      @tabChange="currentTab"
    />
    <!-- selected compaign -->

    <CurrentView :current="activeTab" />
  </div>
</template>

<script>
import Breadcrumb from "@/components/UI/Breadcrumb.vue";
import Tabs from "./components/Tabs";
import CurrentView from "./components/CurrentView";
export default {
  name: "Compaigns",
  components: {
    Breadcrumb,
    Tabs,
    CurrentView
  },
  data() {
    return {
      activeTab: "Browse Campaigns"
    };
  },
  methods: {
    currentTab(tab) {
      this.activeTab = tab;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>