@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,500&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 85%;
  margin: auto;
  padding: 0 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.font-weight-bold {
  font-weight: bold;
}

.v-center {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

// texts

.text-light {
  color: #838383;
}
.text-blue {
  color: #2ba8f5;
}

// buttons
.btn {
  border-radius: 43px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 0.6rem 1.4rem;
  font-size: 18px;
  line-height: 27px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    border: none;
    outline: none;
    transform: translateY(-3px) scale(1.05);
  }
  &:active {
    transform: translateY(1px) scale(1);
  }

  &-theme {
    background: #2ba8f5;
  }

  &-theme-red {
    background: #f33712;
  }
}
