<template>
  <div>
    <h1>Home Page</h1>
    <router-link class="btn btn-theme" to="/compaigns">Go to Compaigns</router-link>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home"
};
</script>

<style lang="scss" scoped>
div {
  text-align: center;
}
</style>
