<template>
  <div class="tab-container">
    <BrowseCompaigns v-if="current === 'Browse Campaigns'" />

    <ActiveCompaigns v-else-if="current === 'Active Campaigns'" />

    <CompletedCompaigns v-else-if="current === 'Completed Campaigns'" />
  </div>
</template>

<script>
import BrowseCompaigns from "./tabviews/BrowseCompaigns";
import ActiveCompaigns from "./tabviews/ActiveCompaigns";
import CompletedCompaigns from "./tabviews/CompletedCompaigns";

export default {
  components: {
    BrowseCompaigns,
    ActiveCompaigns,
    CompletedCompaigns
  },
  props: ["current"]
};
</script>

<style lang="scss" scoped>
.tab-container {
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
}
</style>