<template>
  <div class="tabs">
    <h1
      v-for="(tab , index) in tabs"
      :class="activeTab === tab ? 'active' : ''"
      :key="index"
      @click="makeActive(tab)"
    >{{ tab }}</h1>
  </div>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array
    },
    active: {
      type: String
    }
  },
  data() {
    return {
      activeTab: null
    };
  },
  methods: {
    makeActive(tab) {
      //   console.log(tab);
      this.activeTab = tab;
      this.$emit("tabChange", tab);
    }
  },
  created() {
    this.activeTab = this.active;
  }
};
</script>

<style lang="scss" scoped>
.tabs {
  display: flex;
  padding: 1rem 0;
  h1 {
    padding-right: 1rem;
    font-size: 1.5rem;
    line-height: 28px;
    color: #bebebe;
    cursor: pointer;
    transition: all 0.2s linear;

    &.active,
    &:hover {
      color: #000000;
    }
  }
}

@media (max-width: 992px) {
  .tabs {
    h1 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .tabs {
    h1 {
      font-size: 1rem;
    }
  }
}
</style>