<template>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Advertiser</th>
          <th>CPM/CPMI/CPMV</th>
          <th>Target Views</th>
          <th>Projected Earnings</th>
          <th>Placements</th>
          <th>Post Schedule</th>
          <th>Time Left</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="n in 5" :key="n">
          <td>
            <span class="adviser">
              <img src="@/assets/images/adviser.png" class="img-fluid adviser-image" />
              <span>Disney+</span>
            </span>
          </td>
          <td>$7/1000</td>
          <td>30,000</td>
          <td>$210</td>
          <td>Instagram feed</td>
          <td>7 May 2020</td>
          <td class="bold">00 : 00 : 00</td>
          <td>
            <button class="btn btn-reject">Reject</button>
            <button class="btn btn-accept">Accept</button>
          </td>
          <td class="dots" @click="showModal = true">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- modal here -->
    <transition name="bounce">
      <BrowseModal v-if="showModal" @close="showModal = false" />
    </transition>
  </div>
</template>

<script>
import BrowseModal from "../modals/BrowseCompaignsModal";
export default {
  components: {
    BrowseModal
  },
  data() {
    return {
      showModal: false
    };
  }
};
</script>

<style lang="scss" scoped>
.table-container {
  width: 100%;

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: left;
    border: 1px solid #c0c0c0;
    border-spacing: unset;

    tr {
      th,
      td {
        border-bottom: 1px solid #c0c0c0;
        padding: 0.7rem 0.6rem;
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    .adviser {
      display: flex;
      align-items: center;

      span {
        margin-left: 0.7rem;
      }
    }

    .bold {
      font-weight: 600;
    }
    thead th {
      color: #858585;
      font-weight: normal;
    }
    tbody td {
      color: #000000;
      vertical-align: middle;
    }

    .dots {
      cursor: pointer;
      .dot {
        background: #949494;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: block;
        margin: 2px 0;
      }
    }

    .btn {
      font-size: 14px;
      line-height: 24px;

      &-reject {
        color: #db1c0c;
        padding: 0;
        margin-right: 1rem;
        background: transparent;
      }

      &-accept {
        color: #ffffff;
        background: #2ba8f5;
        border-radius: 42px;
        padding: 0.2rem 0.8rem;
      }
    }
  }
}

.bounce-enter-active {
  animation: bounce-in 0.3s linear;
}

.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
</style>