<template>
  <div id="app">
    <Header />
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from "./components/UI/Header";
export default {
  components: {
    Header
  }
};
</script>

<style lang="scss">
</style>
