<template>
  <div class="breadcrumb">
    <router-link to="/">HOME</router-link>&rsaquo;
    <router-link to="/compaigns">ALL COMPAIGNS</router-link>
  </div>
</template>

<style lang="scss" scoped>
.breadcrumb {
  padding: 1rem 0;
  color: #bebebe;
  a {
    font-size: 12px;
    letter-spacing: 0.05em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
  }

  .router-link-exact-active {
    color: #2ba8f5;
  }
}
</style>