<template>
  <nav>
    <div class="container navbar">
      <div class="logo">
        <img src="@/assets/images/logo.png" alt class="img-fluid" />
        <h3>Social Proof</h3>
      </div>
      <div class="profile">
        <h3>Profile Name</h3>
        <img src="@/assets/images/user.png" alt class="img-fluid" />
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
nav {
  border-bottom: 1px solid #d3d3d3;
  padding: 1rem 0;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo,
  .profile {
    display: flex;
    align-items: center;
  }
  .profile .img-fluid,
  .logo h3 {
    margin-left: 0.5rem;
  }
}
</style>